# =============================
# Node
# =============================
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# =============================
# Environment Secrets
# =============================
.env

# =============================
# Logs
# =============================
logs/
*.log
logs/*.log

# =============================
# Build
# =============================
dist/
build/

# =============================
# OS Files
# =============================
.DS_Store
Thumbs.db

# =============================
# IDE
# =============================
.vscode/
.idea/

# =============================
# Cache
# =============================
.cache/
