body{
margin:0;
font-family:Arial;
background:black;
color:white;
overflow:hidden;
}

/* ================= POPUP ================= */

.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(20px);
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
}

.popup-box{
background:#111;
padding:50px;
border-radius:30px;
width:350px;
text-align:center;
}

.popup-box input{
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;
border:none;
}

.popup-box button{
width:100%;
padding:12px;
background:yellow;
border:none;
border-radius:12px;
font-weight:bold;
cursor:pointer;
}

/* ================= TOOL ================= */

.container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
flex-direction:column;
text-align:center;
}

/* ================= LOCK SECTION ================= */

.arrow{
font-size:60px;
color:red;
animation:bounce 1s infinite;
}

.flames{
font-size:40px;
}

.lock{
font-size:90px;
margin:20px 0;
}

.unlock-btn{
background:yellow;
padding:15px 40px;
border:none;
border-radius:15px;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

/* 🔥 ANIMATION */

@keyframes bounce{
0%{transform:translateY(0);}
50%{transform:translateY(20px);}
100%{transform:translateY(0);}
}
